.z{
zoom: 120%;
}
.toc {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
}

.full.height {

    flex-direction: row;
}

.container {
    width: 95%;
   	margin-left: auto!important;
    margin-right: auto!important;
    background: #fff;
    color: #000;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}